body {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1920px;
  margin: 0px auto;
}
.main-header {
  display: flex;
  width: 1201px;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
  margin: 0px auto;
  margin-bottom: 122px;
}
.logo {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.main-nav {
  width: 491px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.nav-item {
  list-style: none;
  text-transform: uppercase;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #95e1d3;
  transition-property: color;
  transition-duration: 200ms;
}
.nav-link:hover {
  color: rgba(249, 129, 129, 1);
  transition-property: color;
}
.nav-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(249, 129, 129, 0);
  transition-property: transform, background-color;
  transition-duration: 200ms;
}
.nav-link:hover::after {
  display: block;
  background-color: rgba(249, 129, 129, 1);
  transform: translateY(10px);
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
.title {
  font-size: 24px;
  line-height: 29px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 15px;
  color: #333333;
}
.title-under {
  font-size: 30px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0px;
  color: #333333;
  text-transform: uppercase;
}
.title-under::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.conteiner-for-services {
  width: 1186px;
  margin: 0px auto;
  margin-bottom: 96px;
}
.menu-services {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}
.services-item {
  display: flex;
  justify-content: space-around;
  width: 382px;
  margin-bottom: 0px;
}
.services-item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.services-item:nth-child(-n + 3) {
  margin-bottom: 98px;
}
.content {
  width: 300px;
}
.services-name {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0px;
}
.info {
  margin: 0px;
}
.info-team {
  margin: 0px auto;
  margin-bottom: 118px;
  width: 980px;
  text-align: center;
}
.menu-our-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px auto;
}
.our-team-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.our-team-item:not(:nth-child(3n)) {
margin-right: 30px;
}
.pic {
  display: flex;
  background-color: #95e1d3;
  }
  .selfi {
    transform: translate(-10px, -10px);
  }
.name-teammate {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0px;
}
.position {
font-weight: 300;
font-style: italic;
}


/* .nav-link:hover {
   color: #f38181;
     } */

/* .visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
} */
